# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# PlatformIO / Firmware build outputs
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.bin
*.hex
